.home {
  .headSection {
    width: 100%;
    padding: 5em 0;
    background: #ffffff url("../../resources/images/concrete-wall.png");
    &__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &__title {
      color: #03afe1;
      font-weight: 700;
      font-size: 64px;
      margin: 0;
    }
    &__subtitle {
      margin: 0;
      color: #bd1e22;
      font-size: 1.8em;
    }
    &__image {
      text-align: center;
      animation-name: slideFromTop;
      animation-duration: 0.5s;
      > img {
        //filter: drop-shadow(0 10px 10px rgba(0,0,0,0.5));
        width: 300px;
      }
    }
  }
  .infoSection {
    width: 100%;
    padding: 5em 0;
    //background: #fff url("../../resources/images/concrete-wall-2.png");
    background: linear-gradient(
        rgba(255, 255, 255, 0.85),
        rgba(255, 255, 255, 0.85)
    ), url("../../resources/images/full_tY77yfwb.webp") no-repeat fixed;
    background-size: cover;
    &__list {
      list-style: none;
      padding-left: 0;
      li{
        list-style: none;
        color: #333;
        font-size: 22px;
        position: relative;
        padding-left: 1.5em;
        &:not(:first-of-type){
          margin-top: 12px;
        }
      }
      li:before{
        content: '';
        position: absolute;
        top: 8px;
        margin-left: -1.5em;
        display: inline-block;
        height: 16px;
        width: 20px;
        background: url('../../resources/images/flame.svg') no-repeat;
        background-size: contain;
      }
    }
  }
  .priceSection {
    width: 100%;
    padding: 5em 0;
    background: #fff url("../../resources/images/concrete-wall-2.png");
    &__title {
      text-align: center;
    }
    &__subtitle {
      text-align: center;
      margin-top: 0;
      margin-bottom: 40px;
    }
  }
  .formSection {
    width: 100%;
    padding: 5em 0;
    background: linear-gradient(
        rgba(255, 255, 255, 0.75),
        rgba(180, 180, 180, 0.85),
        rgba(63, 63, 63, 0.95),
        rgba(34, 34, 34, 1)
    ), url("../../resources/images/full_3NJthATQ.webp") no-repeat fixed;
    background-size: cover;
  }
}

@keyframes slideFromTop {
  from {opacity: 0; transform: translate(0, -99px);}
  to {opacity: 1; transform: translate(0, 0)}
}