@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  font-family: 'Roboto', 'Open Sans', sans-serif !important;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ffffff url("./resources/images/bg.jpg");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

@import '../node_modules/uikit/src/scss/variables-theme';
@import '../node_modules/uikit/src/scss/mixins-theme';
@import '../node_modules/uikit/src/scss/uikit-theme';

.content {
  min-height: calc(100vh - 168px);
  padding-top: 2em;
  padding-bottom: 1em;
  background: #ffffff;
}